/* .container {
    widows: 100%;
    height: auto;
} */
body {
    background: #4aaaa5;
}

.navbar {
    width: 100%;
    height: 60px;
    /* background-color: rgb(255, 255, 255); */
    margin-top: -16px;

} 
/* .navbar ul li {
    display: inline;
    line-height: 60px;
    padding: 10px;
} */
.navbar ul li a {
    text-decoration: none;
    font-family: sans-serif;
    color: 000;
    display: inline-block;
}

/* .navbar ul li a {
    text-decoration:#4aaaa5 ;
    color: #4aaaa5;
    font-family: sans-serif;
    display: inline-block;
    margin-left: 600px;
    
    }   */



h1 {
    color: white;
    position: absolute;
    width: 110px;
    height: 40px;
    background: #4aaaa5;
    margin: -110px 0px 0px -20px;
    color: #4aaaa5;
    padding: 10px;
    float: left;
} 
    
footer {
    text-align: center;
    color: #4aaaa5;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 30px;
    height: 80px;
    background: rgb(43, 42, 36);
}